<template>
    <div id="test">
        <Links></Links>
        <h2>This is a test 2</h2>
        <vform :model="model"></vform>
    </div>
</template>

<script>
import Links from '../Links/Links';

import WhInputModel from '../WhInput/Model';
import Validation from '../WhInput/ValidationModel';
import vform from '../Form/Form';
import Form from '../Form/Model';

import './Store';
// import * as mutationTypes from './mutation-types';

const fields = [
    new WhInputModel('name', 'text', 'Name', 'e.g. Jack'),
    new WhInputModel('age', 'number', 'Age', 'e.g. 24')
        .setShow(values => !values.name || (values.name && values.name.toLowerCase() !== 'leon'))
        .addValidation(new Validation(values => values.age >= 18, 'No underage users')),
    new WhInputModel('bio', 'textarea', 'Bio', 'e.g. Web Developer'),
];

export default {
    name: 'test',
    data() {
        return {
            model: new Form('Scheme').addFields(fields),
        };
    },
    components: {
        Links,
        vform,
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    #test {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        text-align: center;
        color: #2c3e50;
    }
        h1, h2 {
            font-weight: normal;
        }
</style>
