<template>
    <div class="hello">
        <Links></Links>
        <h2>Hellos</h2>
        There are {{ hellos.length }} hellos.<br/>
        <input class="form-control" type="text" v-model="id" placeholder="Type an id here..." />
        <input class="form-control" type="text" v-model="greeting" placeholder="Type a greeting here..." />
        <button class="btn btn-success" @click="addHello"><i class="glyphicon glyphicon-plus"></i></button>

        <table v-if="hellos.length > 0">
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Greeting</th>
                <th></th>
            </tr>
            <tr v-for="(hello, index) in hellos">
                <td>{{ index + 1 }}</td>
                <td>{{ hello.id }}</td>
                <td>{{ hello.greeting }}</td>
                <td><button class="btn btn-xs btn-danger remove" @click="removeHello(hello)"><i class="glyphicon glyphicon-remove"></i></button></td>
            </tr>
        </table>
    </div>
</template>

<script>
import Links from '../Links/Links';

import './Store';
import * as mutationTypes from './mutation-types';
import Hello from './HelloModel';

export default {
    name: 'hello',
    data() {
        return {
            id: '',
            greeting: '',
        };
    },
    computed: {
        hellos() {
            return this.$store.state.hello.hellos;
        },
    },
    components: {
        Links,
    },
    methods: {
        addHello() {
            this.$store.commit(mutationTypes.ADD_NEW_HELLO, new Hello({
                id: this.id,
                greeting: this.greeting,
            }));
        },
        removeHello(hello) {
            this.$store.commit(mutationTypes.REMOVE_HELLO, hello);
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .hello {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        text-align: center;
        color: #2c3e50;
    }
        h1, h2 {
            font-weight: normal;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline-block;
            margin: 0 10px;
        }

        a {
            color: #42b983;
        }

        input.form-control {
            display: inline-block;
            max-width: 200px;
        }

        .remove {
            cursor: pointer;
            outline: none;
        }

        table {
            border-spacing: 0px;
            border-collapse: separate;
            margin: 15px auto 0;
        }
            table tr td, table tr th {
                margin: 0;
                padding: 2px 10px;
                border-left: 1px solid #333333;
            }
            table tr td:first-child, table tr th:first-child {
                border: none;
            }
            table tr:first-child th {
                border-bottom: 1px solid #333333;
            }
</style>
