<template>
    <div class="form">
        <WhInput v-for="field in fields" :formname="model.name" :propertyid="field.id" />
    </div>
</template>

<script>
import WhInput from '../WhInput/WhInput';
import './Store';
import * as mutationTypes from './mutation-types';

export default {
    name: 'form',
    props: [
        'model',
    ],
    computed: {
        fields() {
            return this.model.fields;
        },
    },
    created() {
        this.$store.commit(mutationTypes.NEW_FORM, this.model);
    },
    methods: {
        validate(formFields) {
            this.$store.commit('VALIDATE', { model: this.model, formFields });
        },
    },
    components: {
        WhInput,
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
