<template>
    <div class="wh-input" v-if="show">
        <div class="input-group" :class="{ 'has-error': field.error }">
            <span class="input-group-addon">{{ field.title }}</span>
            <input class="form-control" :name="'input-' + field.id" :type="field.type" :placeholder="field.placeholder" :value="field.value" @input="change" @blur="blur" />
            <div class="error-message text-danger" v-if="field.error">{{ field.error }}</div>
        </div>
        <!-- <pre style="text-align: left;">{{ field }}</pre> -->
    </div>
</template>

<script>
import * as mutationTypes from '../Form/mutation-types';

export default {
    name: 'WhInput',
    props: [
        'formname',
        'propertyid',
    ],
    computed: {
        form() {
            return this.$store.state.form[this.formname];
        },
        field() {
            return this.form.fields[this.propertyid];
        },
        show() {
            return (typeof this.field.show === 'function') ?
                this.field.show(this.form.exportValues(), this.form)
                : this.field.show;
        },
    },
    methods: {
        change(e) {
            this.$store.commit(mutationTypes.SET_PROPERTY, {
                formname: this.formname,
                propertyid: this.propertyid,
                value: e.target.value,
            });
            this.field.validate(this.form.exportValues(), this.form);
        },
        blur() {
            this.form.validate(this.form.exportValues(), this.form);
        },
    },
};
</script>

<style>
    .wh-input {
        margin: 0 5px;
    }
        .wh-input > .input-group {
            position: relative;
            margin-bottom: 3px;
        }
            .wh-input > .input-group > .error-message {
                font-size: 12px;
                position: absolute;
                display: block;
                right: 5px;
                bottom: 0;
                z-index: 10;
                vertical-align: middle;
            }
</style>
