<template>
    <div class="links">

        <ul class="nav nav-pills">
            <router-link
                tag="li"
                role="presentation"
                v-for="(item, index) in routes"
                v-bind:to="item.path"
                active-class="active"><a>{{ item.title }}</a></router-link>
        </ul>

        <!-- {{ routes }} -->
    </div>
</template>

<script>
import routes from '../../routes';

export default {
    name: 'links',
    computed: {
        routes: () => routes,
    },
};
</script>

<style>
    .links {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        text-align: center;
        color: #2c3e50;
    }
        .links > button {
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            color: white;
            font-size: 18px;
            font-weight: normal;
            background-color: #001f3f;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            outline: none;
            margin-right: 5px;
        }
            .links > button:hover {
                background-color: #001224;
            }
</style>
