<template>
    <div id="home">
        <Links></Links>
        <h2>This is home.</h2>
    </div>
</template>

<script>
import Links from '../Links/Links';

export default {
    name: 'home',
    components: {
        Links,
    },
};
</script>

<style>
    #home {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        text-align: center;
        color: #2c3e50;
    }
        h1, h2 {
            font-weight: normal;
        }
</style>
